Models/bin/Debug/*.pdb
Models/bin/Release
Models/obj
SalesSystem/bin/Debug/*.pdb
SalesSystem/bin/Release
SalesSystem/obj
SalesSystem/TestResults
SalesSystemTest/bin/Debug/*.pdb
SalesSystemTest/bin/Release
SalesSystemTest/obj